/**
 * User: aladdin
 * Date: 13/15/10
 * Time: 10:50 AM
 */
body, div, input, textarea {
    margin: 0;
    padding: 0;
}

input, textarea {
    outline: none;
    resize: none;
    overflow: hidden;
    display: block;
}

input {
    width: 100%;
    background-color: #E9E9E9;
    border: 1px solid #BFBFBF;
    border-radius: 1px;
    padding: 2px 0;
}

body {
    background: #E6E6E6;
    font: 12px Arial, "宋体", Helvetica, sans-serif;
    position: relative;
    overflow: hidden;
    -moz-user-select: none;
    color: #393939;
}

.basic_button {
    text-align: center;
    font-weight: bold;
    color: white;
    background: #24A828;
    border-radius: 3px;
    font-size: 14px;
    height: 16px;
    padding: 5px 5px;
    display: inline-block;
}

.basic_button:hover {
    background: #1F9323;
}

.basic_button:active {
    background: #1B7E1E;
}

.main_header {
    height: 20px;
    background: #23658B;
    padding: 5px 8px;
    color: #E3E3E3;
    text-align: center;
}

.main_tool {
    position: relative;
    margin: 3px;
    padding: 2px;
    border-bottom: 1px solid gainsboro;
    overflow: hidden;
}

.md5_input_form {
    width: 150px;
    display: inline-block;
}

.md5_button {
    width: 60px;
    padding: 2px 2px;
    display: inline-block;
}
.md5_output_form {
    margin-top: 2px;
    width: 280px;
    display: inline-block;
}

.main_content {
    position: relative;
    zoom: 1;
}

.group_list {
    margin: 10px 0;
    border-bottom: 1px solid gainsboro;
    padding: 0 15px;
}

.group_list > .yy_list_item {
    overflow: hidden;
    zoom: 1;
    background-color: #CCC;
    border: 1px solid #B9B9B9;
    color: #444;
    height: 14px;
    width: 100px;
    text-align: center;
    padding: 8px;
    margin: 2px 5px;
    cursor: pointer;
    display: inline-block;
}

.group_list > .yy_list_item:hover {
    background: #3291C8;
}

.group_list > .yy_list_item:active {
    background: #2B7CAB;
}

.group-window-area {
    position: relative;
}

.group_window {
    width: 900px;
    height: 550px;
    cursor: default;
    top: 0;
    left: 20px;
}

.service_list, .service_info_panel {
    height: 92%;
    width: 98%;
    border: 1px solid gainsboro;
    margin-top: 5px;
    padding: 5px;
    position: absolute;
}

.service_list > .yy_list_item {
    font-size: 11px;
    color: #3c7cb3;
    border-bottom: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}

.service_list > .yy_list_item > div {
    display: inline-block;
    height: 12px;
    padding: 8px 5px;
    text-align: left;
}

.service_list > .yy_list_item > .actionName {
    min-width: 230px;
    max-width: 300px;
    border-right: 1px solid gainsboro;
}

.service_list > .yy_list_item > .description {
    color: #444;
}

.service_list > .yy_list_item.yy_selected {
    background: #CCC;
}

.service_main {
    width: 749px;
    height: 94%;
    position: absolute;
    left: 151px;
}

.service_info_list {
    margin-top: 5px;
    width: 100%;
    height: 92%;
}

.service_info_list > .yy_list_item {
    width: 100%;
    height: 98%;
    overflow: hidden;
}

.service_info_list > .yy_list_item:hover {
    background: #F0F0F0;
}

.service_info_list > .yy_list_item > .info_detail {
    border: 1px solid gainsboro;
    margin: 2px 0;
}

.service_info_list > .yy_list_item > .info_detail > div {
    height: 12px;
    padding: 8px 5px;
}

.service_info_list > .yy_list_item > .info_request_list {
    border: 1px solid gainsboro;
    margin: 2px 0;
}

.service_info_list > .yy_list_item .info_request {
    border: 1px solid gainsboro;
    margin: 1px 5px 1px 5px;
    overflow: hidden;
}

.service_info_list > .yy_list_item .info_request > div {
    min-width: 100px;
    height: 12px;
    padding: 6px 6px;
    float: left;
}

.parameter_important {
    margin-top: -6px;
    width: 28px;
    height: 24px;
    background: url(../libs/css/images/icon.png) no-repeat -300px -33px;
}

.service_info_list > .yy_list_item > .info_response_list {
    border: 1px solid gainsboro;
    margin: 2px 0;
}

.service_info_list > .yy_list_item .info_response {
    border: 1px solid gainsboro;
    margin: 1px 5px 1px 5px;
    overflow: hidden;
}

.service_info_list > .yy_list_item .info_response > div {
    min-width: 100px;
    height: 12px;
    padding: 6px 6px;
    float: left;
}

.test-window-area {
    position: relative;
}

.test_window {
    width: 600px;
    height: 400px;
    cursor: default;
    top: 0;
    left: 0;
}

.test_module {
    position: relative;
}

.test_form {
    width: 250px;
    height: 373px;
    padding: 1px;
    border-right: 1px solid gainsboro;
}

.test_button {
    display:block;
    width: 100px;
    margin-bottom: 5px;
}

.test_form .yy_form_label {
    width: 70px;
    display: inline-block;
}

.test_form input {
    margin-top: 2px;
    width: 175px;
    background-color: #E9E9E9;
    border: 1px solid #BFBFBF;
    border-radius: 1px;
    height: 12px;
    padding: 2px 0;
    display: inline-block;
}

.test_response_form {
    position: absolute;
    left: 254px;
    top: 0;
    width: 344px;
    height: 373px;
}

.test_response_form textarea {
    width: 100%;
    border: 0 solid gainsboro;
    height: 100%;
}